<ion-content [fullscreen]="true">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1 "></div>
  <div class="circleBase type2 circle2"></div>
  <ion-label class="welcomeMessage">
    <ion-text color="light">Bien venue sur Djangui</ion-text>
    <ion-text color="light">
      <p>Connexion</p>
    </ion-text>
  </ion-label>

  <form [formGroup]="form">

    <ion-list lines="none" class="ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon name="mail-outline" slot="end" color="medium"></ion-icon>
        <ion-input formControlName="username" placeholder="Entrer votre pseudo"></ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger"
                *ngIf="!form.get('username').valid && form.get('username').touched">
        <p class="error">*Votre pseudo est obligatoire</p>
      </ion-text>

      <ion-item>
        <ion-icon (click)="onChange()" [name]="isTypePassword? 'lock-closed-outline':'lock-open-outline'" slot="end"
                  [color]="isTypePassword?'medium':'primary'"></ion-icon>
        <ion-input [type]="isTypePassword?'password':'text'" formControlName="password"
                   placeholder="Entrer votre mot de passe"></ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger"
                *ngIf="!form.get('password').valid && form.get('password').touched">
        <p class="error" *ngIf="form.get('password').invalid && form.get('password').errors.required">*Please enter your
          password</p>
        <p class="error" *ngIf="form.get('password').dirty">*Password must be of atleast 8 charaters</p>
      </ion-text>

      <ion-row class="ion-margin-vertical">
        <ion-button color="primary" class="ion-margin-vertical" shape="round" (click)="onSubmit()">Log In</ion-button>
      </ion-row>
      <ion-radio-group>
        <ion-row class="ion-margin-vertical">
          <ion-col size="12" class="alignItems">
            <div align="left">
              <ion-radio (click)="presentModal()"></ion-radio>
              <ion-note color="primary">Créez un compte adérant d'une reunion</ion-note>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="alignItems" align="left">
              <ion-radio (click)="signToPresi()"></ion-radio>
              <ion-note color="primary">Créez un compte adérant d'une reunion</ion-note>
            </div>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-list>
  </form>
</ion-content>
